<form [formGroup]="mainForm">
    <div class="container">
        <input type="text" formControlName="textualField"/>
    </div>
    <div class="container">
        <app-customcheckbox formControlName="checkboxCustom">Custom checkbox</app-customcheckbox>
        <app-customdropdownlist [required]="false" dropdownListLabel="Dropdown list" [items]="items" formControlName="dropdownListCustom"></app-customdropdownlist>
    </div>
    <div class="container">
        <button type="button" (click)="checkValues()">Submit</button>
    </div>
</form>